.board {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  grid-template-rows: repeat(9, 40px);
  border: 3px solid black;
  width: fit-content;
  margin: 20px auto;
}

.row {
  display: contents;
}