.board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  border: 3px solid black;

  width: 92vw;
  max-width: 450px;
  aspect-ratio: 1 / 1;

  /* width: fit-content; */
  margin: 20px auto;
}

.row {
  display: contents;
}

@media  screen and (min-width: 768px) {
  .board {
    width: 450px;
    max-width: 500px;
  }
}